<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-body-secondary">Powered by <a href="https://github.com/LaunchPlatform/beanhub-cli">beanhub-cli</a> {{ beanhub_cli_version }} and <a href="https://github.com/LaunchPlatform/beanhub-forms">beanhub-forms</a> {{ beanhub_forms_version }}</p>

  <div class="col-md-5 mb-0 text-body-secondary justify-content-end text-end" data-polis-network-id="f8d9fb38-56ee-4cef-b7d1-fe71de3f73a1"></div>
</footer>