{% extends "layout.html" %}

{% block page_title %}
  Forms
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
{% endblock css %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock js %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="{{ url_for('home') }}" ria-current="page">Forms</a></li>
    </ol>
  </nav>

  {% if form_doc is none %}
    <h2>No form definitions found</h2>

    <p>We cannot find the BeanHub Forms doc file in your current folder, <mark>{{ settings.BEANCOUNT_DIR }}</mark>.</p>
    <p>To work with BeanHub Forms, you need to create the doc files at <mark>.beanhub/forms</mark> in your Beancount folder, then run beanhub-cli form server command in it like this:</p>

    <div><pre><code class="language-bash">cd /path/to/your/beancount/folder
bh form server
</code></pre></div>

    <p>For example, you can create the BeanHub Forms doc file at <mark>{{ settings.BEANCOUNT_DIR / ".beanhub" / "forms.yaml" }}</mark> with the following sample form as content:</p>

    <div><pre><code class="language-yaml">{% raw %}forms:
- name: add-xyz-hours
  display_name: "Hours spent on XYZ contracting project"
  fields:
  - name: date
    type: date
    display_name: "Date"
    required: true
  - name: hours
    type: number
    display_name: "Hours"
    required: true
  - name: rate
    type: number
    display_name: "Rate (USD)"
    default: "300"
    required: true
  - name: narration
    type: str
    default: "Hours spent on the software development project for client XYZ"
    display_name: "Narration"
  operations:
  - type: append
    file: "books/{{ date.year }}.bean"
    content: |
      {{ date }} * {{ narration | tojson }}
        Assets:AccountsReceivable:Contracting:XYZ      {{  hours }} XYZ.HOUR @ {{ rate }} USD
        Income:Contracting:XYZ
{% endraw %}</code></pre></div>
  {% else %}
    <h2>Forms</h2>
    <ul>
      {% for form in form_doc.forms %}
      <li><a href="{{ url_for('submit_form', form_name=form.name) }}">{{ form.name if form.display_name is none else form.display_name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
