{% extends "layout.html" %}

{% block page_title %}
  Forms
{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="{{ url_for('home') }}" ria-current="page">Form List</a></li>
    </ol>
  </nav>

  {% if form_doc is none %}
    <p>No form definitions found</p>
  {% else %}
    <h2>Forms</h2>
    <ul>
      {% for form in form_doc.forms %}
      <li><a href="{{ url_for('submit_form', form_name=form.name) }}">{{ form.name if form.display_name is none else form.display_name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
