{% extends "layout.html" %}

{% block page_title %}
  Forms
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
{% endblock css %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock js %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="{{ url_for('home') }}" ria-current="page">Forms</a></li>
    </ol>
  </nav>

  {% if form_doc is none %}
    <h2>No form definitions found</h2>

    <p>We cannot find the BeanHub Forms doc file in your current folder, <mark>{{ settings.BEANCOUNT_DIR }}</mark>.</p>
    <p>To work with BeanHub Forms, you need to create the doc file at <mark>.beanhub/forms.yaml</mark> in your Beancount folder, then run beanhub-cli form server command in it like this:</p>

    <div><pre><code class="language-bash">cd /path/to/your/beancount/folder
bh form server
</code></pre></div>

    <p>For example, you can create the BeanHub Forms doc file at <mark>{{ settings.BEANCOUNT_DIR / ".beanhub" / "forms.yaml" }}</mark> with the following sample form as content:</p>

    <div><pre><code class="language-yaml">{{ sample_form_doc }}</code></pre></div>
    <p>Or, you can use the button below to create the file automatically and reload this page to try it out:</p>

    <div class="d-flex justify-content-center mt-2 mb-3">
      <button class="btn btn-primary">Create sample forms doc</button>
    </div>

    <p>For more information about BeanHub Forms and how to use it, please read our blog post
      <a href="https://beanhub.io/blog/2023/07/31/automating-beancount-data-input-with-beanhub-custom-forms/">Automating Beancount data input with custom forms makes your life 10 times easier!</a></p>
  {% else %}
    <h2>Forms</h2>
    <ul>
      {% for form in form_doc.forms %}
      <li><a href="{{ url_for('submit_form', form_name=form.name) }}">{{ form.name if form.display_name is none else form.display_name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
